<h4>Formularios <small>logica datos (TS)</small></h4>
<hr>
<form [formGroup]="miPrimerGrupoFormulario" (ngSubmit)="guardarCambios()">

    <!-- Estrucuta del div corresponde con estrucutura FormGroup en TS  -->
    <div formGroupName="nombreCompleto">

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre" [ngClass]=" {'is-invalid': miPrimerGrupoFormulario.get( 'nombreCompleto.nombre' ).touched && miPrimerGrupoFormulario.get( 'nombreCompleto.nombre' ).invalid} ">
                <div class="invalid-feedback" *ngIf="miPrimerGrupoFormulario.get( 'nombreCompleto.nombre' ).errors?.required">

                    El nombre es requerido
                </div>
                <div class="invalid-feedback" *ngIf="miPrimerGrupoFormulario.get( 'nombreCompleto.nombre').errors?.minlength">
                    Al menos 3 caracteres
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="Apellido" formControlName="apellido">
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-md-8">

            <input class="form-control" type="email" placeholder="Correo electrónico" formControlName="correo">
        </div>
    </div>



    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <!-- [disabled]="miPrimerGrupoFormulario.invalid" -->
            <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
        </div>
    </div>

    {{ miPrimerGrupoFormulario.valid }}

</form>