<!-- 

Nombre archivo: data.component.html
Proposito: Formulario logica por datos TS
Autor: Stephen Arzeta
Fecha: 09/01/2020
Hora: 7:52 a.m.

Ultima modificación: 09/01/2020 07:52 am
Descripción: Agregar este encabezado al archivo

-->
<h4>Formularios <small>logica datos (TS)</small></h4>
<hr>
<form [formGroup]="miPrimerGrupoFormulario" (ngSubmit)="guardarCambios()">

    <!-- Estrucuta del div corresponde con estrucutura FormGroup en TS  -->
    <div formGroupName="nombreCompleto">

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre" [ngClass]=" {'is-invalid': miPrimerGrupoFormulario.get( 'nombreCompleto.nombre' ).touched && miPrimerGrupoFormulario.get( 'nombreCompleto.nombre' ).invalid }">
                <div class="invalid-feedback" *ngIf="miPrimerGrupoFormulario.get( 'nombreCompleto.nombre' ).errors?.required">

                    El nombre es requerido
                </div>
                <div class="invalid-feedback" *ngIf="miPrimerGrupoFormulario.get( 'nombreCompleto.nombre').errors?.minlength">
                    Al menos 3 caracteres
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="Apellido" formControlName="apellido" [ngClass]=" {'is-invalid': miPrimerGrupoFormulario.get( 'nombreCompleto.apellido' ).touched && miPrimerGrupoFormulario.get( 'nombreCompleto.apellido' ).invalid }">
                <div class="invalid-feedback" *ngIf="miPrimerGrupoFormulario.get( 'nombreCompleto.apellido' ).errors?.required">
                    El apellido es requerido
                </div>
                <div class="invalid-feedback" *ngIf="miPrimerGrupoFormulario.get( 'nombreCompleto.apellido' ).errors?.errorApellido">
                    El apellido bloqueado
                </div>
            </div>
        </div>

    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Usuario</label>
        <div class="col-8">
            <input class="form-control" type="text" placeholder="Nombre de usuario" formControlName="nombreUsuario">

        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-md-8">
            <input class="form-control" type="email" placeholder="Correo electrónico" formControlName="correo" [ngClass]=" {'is-invalid': miPrimerGrupoFormulario.get( 'correo' ).touched && miPrimerGrupoFormulario.get( 'correo' ).invalid }">
            <div class="invalid-feedback" *ngIf="miPrimerGrupoFormulario.get( 'correo' ).errors?.required">
                El correo es requerido
            </div>
            <div class="invalid-feedback" *ngIf="miPrimerGrupoFormulario.get( 'correo' ).errors?.pattern">
                Correo no valido, ejemplo: correo@ejemplo.algo
            </div>
        </div>
    </div>

    <div formGroupName="contrasenas">
        <div class="form-group row">
            <label class="col-2 col-form-label">Contraseña</label>
            <div class="col-md-8">
                <input type="password" class="form-control" placeholder="Ingresar contraseña" formControlName="primeraContrasena">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Confirmar contraseña</label>
            <div class="col-md-8">
                <input type="password" class="form-control" placeholder="Repetir contraseña" formControlName="segundaContrasena" [ngClass]=" {'is-invalid': miPrimerGrupoFormulario.get( 'contrasenas' ).touched && miPrimerGrupoFormulario.get( 'contrasenas' ).invalid }">
                <div class="invalid-feedback" *ngIf="miPrimerGrupoFormulario.get( 'contrasenas' ).errors?.contrasenasDistintas">
                    Las contraseñas deben ser iguales
                </div>
            </div>
        </div>
    </div>
    <!-- formGroupName -->


    <div class="form-group row">
        <label class="col-2 col-form-label">Pasa tiempos</label>
        <div class="col-8" formArrayName="pasatiempo">
            <input type="text" class="form-control" [formControlName]="i" *ngFor=" let pasatiempo of miPrimerGrupoFormulario.controls['pasatiempo'].controls; let i=index">
        </div>

        <button type="button" class="btn btn-success" (click)="agregarPasatiempo()">
            Nuevo
        </button>

    </div>



    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <!-- [disabled]="miPrimerGrupoFormulario.invalid" -->
            <button type="submit" class="btn" [ngClass]="miPrimerGrupoFormulario.invalid ? 'btn-secondary disabled' : 'btn-primary'">
        Guardar
      </button>
        </div>
    </div>

    Validación: {{ miPrimerGrupoFormulario.valid }}
    <br> Estatus: {{ miPrimerGrupoFormulario.status }}

</form>