<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit)="enviarDatos( formulario )" #formulario="ngForm">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">

                <input [ngClass]="{ 'is-invalid':(nombre.touched && (nombre.errors?.minlength || nombre.errors?.required)) }" class="form-control" type="text" placeholder="Nombre" name="nombre" minlength="3" [(ngModel)]='usuario.nombre' #nombre="ngModel" required>

                <div *ngIf="nombre.touched && (nombre.errors?.required || nombre.errors?.minlength)" class="invalid-feedback">

                    <div *ngIf="nombre.errors?.required">
                        El campo es necesario
                    </div>

                    <div *ngIf="nombre.errors?.minlength">
                        Por lo menos {{ nombre.errors.minlength.requiredLength }} caracteres.
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">
                <input [ngClass]="{ 'is-invalid':  (apellido.touched && apellido.errors?.required) }" class="form-control" type="text" name="apellido" placeholder="Apellido" [(ngModel)]='usuario.apellido' #apellido="ngModel" required>

                <div *ngIf="apellido.invalid && (apellido.touched || apellido.dirty)" class="invalid-feedback">

                    <div *ngIf="apellido.errors?.required">
                        El campo es necesario
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-md-8">
            <input [ngClass]="{ 'is-invalid': correo.touched && (correo.errors?.required || correo.errors?.pattern) }" class="form-control" type="email" name="correo" placeholder="Correo electrónico" [(ngModel)]="usuario.correo" #correo="ngModel" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">

            <div *ngIf="correo.invalid && (correo.touched || correo.dirty)" class="invalid-feedback">
                <div *ngIf="correo.errors?.required">
                    El campo es necesario
                </div>
                <div *ngIf="correo.errors?.pattern">
                    El formato del correo no es valido
                </div>
            </div>
        </div>
    </div>



    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary" [disabled]="formulario.invalid">
        Guardar
      </button>
        </div>
    </div>

</form>